<div class="page-header">
  <%= link_to game_step_devices_path(game_id: @game.id, step_id: @step.id), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to game_step_device_path(game_id: @game.id, step_id: @step.id, id: @device.id), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing device</h1>
</div>

<%= render 'form' %>
