<div class="page-header">
  <%= link_to game_step_devices_path(game_id: @game.id, step_id: @step.id), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New device</h1>
</div>

<%= render 'form' %>
