<div class="row game-meta-container">
  <div class="col-xs-6">
    <h1>Mes parties</h1>
  </div>
  <div class="col-xs-6">
    <%= form_tag games_path, method: "get", id: 'search-form' do %>
      <div class="input-group search-bar">
        <%= text_field_tag :search, params[:search], placeholder: "Recherche", :class => "form-control" %>
      </div>
    <% end %>
  </div>
</div>
<div class="clearfix"></div>

<div id="games-wrapper">
  <%= render "games" %>
</div>

<%= link_to 'Ajouter une partie', new_game_path, class: 'btn btn-default' %>
