<div class="page-header">
  <%= link_to game_steps_path(game_id: @game.id), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New step</h1>
</div>

<%= render 'form' %>
