//
// Variables
// --------------------------------------------------


//== Colors
//

$nav-blue-indigo : #242b53 !default;
$template-dark: #141414 !default;

// Main navbar
// Reset main navbar basics
$navbar-main-color:                      lighten($nav-blue-indigo, 15%) !default;
$navbar-main-bg:                         #222 !default;
$navbar-main-border:                     darken($navbar-main-color, 30%) !default;

.navbar-brand {
  color: whitesmoke !important;
}

.navbar-text {
  padding-right: 10px;
}

.navbar-nav > .navbar-brand {
  font-size: 14px !important;
  margin-left: 6px !important;
}

body, .navbar-brand:hover {
  /*background-color:$template-dark !important;*/
  color: #333 /*whitesmoke*/;
}

input, td, .panel-title {
  color: #2E2F30;
}
